.head {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 5rem;
  margin: 2rem auto;
  width: 100%;
  border-top: 10px dotted #027248;
  border-bottom: 10px dotted #027248;
  margin-top: 10vh;
  height: 20vh;
}

.head ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 250vw;
  list-style: none;
  padding: 0 3rem;
}

.title-2d,
.year-2d {
  font-family: "Freckle Face", system-ui;
  font-size: 4rem;
  color: #027248;
  text-transform: uppercase;
}

.content1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  min-height: 60px;
  max-width: 150vw;
  border-bottom: #027248 10px dotted;
  padding-bottom: 3rem;
}

.content1 ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  max-width: 100vw;
  list-style: none;
  padding: 0 0.2rem;
}

.title1 {
  font-family: "Freckle Face", system-ui;
  font-size: 8rem;
  color: #027248;
  white-space: pre-line;
  line-height: 1;
  margin-top: 20vh;
}

.year-2d-content {
  font-family: "Delius", cursive;
  font-size: 3rem;
  color: #027248;
  margin-top: 20vh;
}

.OC-gallary {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  padding: 2rem;
  flex-wrap: wrap;
  margin-top: 5vh;
  display: flex;

  gap: 5rem;
  padding: 0.2rem;
}

.OC1,
.OC2,
.OC3 {
  width: 50%;
  max-width: 400px;
  height: auto;
  object-fit: cover;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.OC1:hover,
.OC2:hover,
.OC3:hover {
  transform: scale(1.1);
}
.logo-2d {
  width: 80vw;
  max-width: 2000px;
  height: auto;
  display: block;
  margin: 5vh auto;
}

#land1 {
  width: 40%;
  margin-top: 2vh;
  max-width: 150vw;
  margin-bottom: 5vh;
}
#land2 {
  width: 40%;
  margin-top: 2vh;
  max-width: 150vw;
  margin-bottom: 5vh;
}

@media screen and (max-width: 1024px) {
  .title-2d,
  .year-2d {
    font-size: 2.5rem;
  }
  .title1 {
    font-size: 4rem;
    margin-top: 8vh;
  }
  .year-2d-content {
    font-size: 1.8rem;
    margin-top: 8vh;
  }
  .head {
    padding: 1rem 2rem;
    height: auto;
    border-bottom: #027248 5px dotted;
    border-top: #027248 5px dotted;
  }
  .content1 ul {
    padding: 0 1rem;
  }

  .OC-gallary {
    gap: 2rem;
    padding: 1rem;
  }
  .OC1,
  .OC2,
  .OC3 {
    max-width: 280px;
    width: 100vw;
  }

  #land1,
  #land2 {
    max-width: 400px;
    width: 90vw;
  }
  .logo-2d {
    max-width: 700px;
    width: 90vw;
    margin-top: 10vh;
  }
}

@media screen and (max-width: 768px) {
  .title-2d,
  .year-2d {
    font-size: 2rem;
  }

  .logo-2d {
    max-width: 650px !important;
    width: 95vw !important;
  }

  .title1 {
    font-size: 4rem;
    margin-top: 5vh;
  }
  .year-2d-content {
    font-size: 2rem;
    margin-top: 4vh;
  }
  .head {
    padding: 0.5rem 0.5rem;
    height: auto;
  }
  .content1 ul {
    padding: 2rem;
    padding-bottom: 0rem;
  }
  .content1 {
    border-bottom: #027248 5px dotted;
    padding: 0 1rem 20px;
  }
  .OC-gallary {
    gap: 1.5rem;
    padding: 0.5rem;
  }
  .OC1,
  .OC2,
  .OC3 {
    max-width: 220px;
    width: 90vw;
  }
  #land1,
  #land2 {
    max-width: 320px;
    width: 90vw;
  }
  .logo-2d {
    max-width: 350px;
    width: 95vw;
  }
}

@media screen and (max-width: 480px) {
  .title-2d,
  .year-2d {
    font-size: 1.5rem;
  }

  .logo-2d {
    margin-top: 4vh;
  }

  .title1 {
    font-size: 2.5rem;
    margin-top: 2vh;
  }
  .year-2d-content {
    font-size: 1rem;
    margin-top: 2vh;
    padding-bottom: -10rem;
  }
  .head {
    padding: 1rem 0.2rem;
    height: auto;
    margin-top: -2vh;
  }
  .content1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-bottom: #027248 5px dotted;
    padding: 0 1.5rem 10px;
    margin-top: 5vh;
  }
  .content1 ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    padding: 0 0.2rem;
  }
  .OC-gallary {
    gap: 1rem;
    margin-top: 2vh;

    width: 100%;
    max-width: 100%;
  }

  .OC-gallary img {
    max-width: 100vw;
    border-radius: 20px;
  }

  .OC1,
  .OC2,
  .OC3,
  #land1,
  #land2 {
    max-width: 100vw;
    width: 70vw;
  }
  .logo-2d {
    max-width: 180px;
    width: 98vw;
  }
  #land1,
  #land2 {
    margin-top: 1vh;
    margin-bottom: 0vh;
  }

  .OC-gallary {
    display: flex;
    flex-wrap: nowrap;

    overflow-x: auto;
    overflow-y: hidden;

    gap: 1rem;

    padding-left: 24.5rem;
    padding-right: 1rem;

    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    margin-left: 2vw;
  }

  .OC-gallary img {
    flex: 0 0 80vw;
    max-width: 60vw;

    scroll-snap-align: start;
  }
}

@media screen and (min-width: 1200px) {
  .OC-gallary {
    column-gap: 30px;
  }
}
