.bag3-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin-top: 10vh;
  width: 100%;
  border-bottom: #f4bc17 10px dotted;
}

.bag3-title ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  list-style: none;
  padding: 0;
}

.mix-media {
  font-family: "Freckle Face", system-ui;
  font-size: 10rem;
  color: #ee2c25;
  text-align: center;
  line-height: 0.9;
  margin: 0;
  text-transform: uppercase;
}

.bag3-name {
  font-family: "Delius", cursive;
  font-size: 2.5rem;
  color: #ee2c25;
  text-align: center;
  margin: 0;
}
.bag3-images {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 3rem 0;
  margin: 0 auto;
  max-width: 100%;
}

.bag3-1 {
  width: 100%;
  max-width: 2200px;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.bag3-2 {
  width: 50%;
  max-width: 2200px;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease;
  cursor: pointer;
  margin-top: -5vh;
}
.bag3-2:hover {
  transform: scale(1.05);
}
.bag3-images h1 {
  font-family: "Freckle Face", system-ui;
  font-size: 6rem;
  color: #ee2c25;
  text-align: center;
  margin-top: 5vh;
  text-transform: uppercase;
}

@media screen and (max-width: 1024px) {
  .mix-media {
    font-size: 5rem;
  }
  .bag3-name {
    font-size: 1.5rem;
  }
  .bag3-title {
    padding: 1rem;
    margin-top: 5vh;
    border-bottom-width: 5px;
  }
  .bag3-images {
    gap: 1.5rem;
    padding: 1.5rem 0;
  }
  .bag3-1 {
    max-width: 900px;
  }
  .bag3-2 {
    max-width: 600px;
    width: 80vw;
  }
  .bag3-images h1 {
    font-size: 5rem;
    margin-top: 2vh;
    margin-bottom: 3vh;
  }
}

@media screen and (max-width: 768px) {
  .mix-media {
    margin-top: 4vh;
    font-size: 5rem;
  }
  .bag3-name {
    margin-top: -2vh;
    font-size: 1rem;
  }
  .bag3-title {
    padding: 0.5rem;
    margin-top: 2vh;
    border-bottom-width: 3px;
  }
  .bag3-images {
    gap: 1rem;
    padding: 1rem 0;
  }
  .bag3-1 {
    max-width: 98vw;
  }
  .bag3-2 {
    max-width: 90vw;
    width: 90vw;
  }
  .bag3-images h1 {
    font-size: 4rem;
    margin-top: 1vh;
    margin-bottom: 3vh;
  }
}

@media screen and (max-width: 480px) {
  .mix-media {
    font-size: 4rem;
  }
  .bag3-name {
    font-size: 1rem;
  }
  .bag3-title {
    padding: 0.2rem;
    margin-top: 1vh;
    border-bottom-width: 2px;
    margin-bottom: 2vh;
  }
  .bag3-images {
    gap: 0.5rem;
    padding: 0.5rem 0;
  }
  .bag3-1 {
    max-width: 98vw;
  }
  .bag3-2 {
    max-width: 98vw;
    width: 98vw;
    margin-top: 0;
  }
  .bag3-images h1 {
    font-size: 3rem;
    margin-top: 1vh;
    margin-bottom: -1vh;
  }
}
