.interaction-work header {
  background-color: transparent;
}

.interaction-header {
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: #f4bc17 10px solid;
}

.interaction-header h1 {
  font-family: "Freckle Face", system-ui;
  font-size: 10rem;
  color: #37489e;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
}

.course-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 2rem 0;
  margin-top: -1vh;
  margin-right: 2vw;
}

.course1 {
  font-family: "Freckle Face", system-ui;
  font-size: 2.5rem;
  color: #000000;
  padding-bottom: 0.5rem;
  border-bottom: transparent 5px solid;
  transition: transform 0.3s ease, border-bottom 0.3s ease;
  cursor: pointer;
}

.course1.active {
  border-bottom: #f4bc17 5px solid;
}

.course1:hover {
  transform: translateY(-5px);
}

.course2 {
  font-family: "Freckle Face", system-ui;
  font-size: 2.5rem;
  color: #000000;
  cursor: pointer;
  padding-bottom: 0.5rem;
  border-bottom: transparent 5px solid;
  transition: transform 0.3s ease, border-bottom 0.3s ease;
}

.course2.active {
  border-bottom: #f4bc17 5px solid;
}

.course2:hover {
  cursor: pointer;
  transform: translateY(-5px);
}
.course2:hover {
  cursor: pointer;
  transform: translateY(-5px);
}

.interaction-work {
  margin-left: 5vw;
  margin-right: 5vw;
}

.project-title1 {
  background-color: #37489e;
  padding: 2rem 4rem;
  margin: 3rem 0;
  max-width: 90%;
  display: flex;
  width: 70vw;
  justify-content: flex-start;
}

.project-title1 h2 {
  font-family: "Freckle Face", system-ui;
  font-size: 5rem;
  color: #fff099;
  text-align: left;
  margin: 0;
}

#welcome {
  font-family: "Freckle Face", system-ui;
  font-size: 5rem;
  color: #ffffff;
  text-align: left;
  margin: 0;
}

.project-info {
  margin: 3rem 0;
}

.info-layout {
  display: flex;
  gap: 3rem;
  align-items: flex-start;
}

.info-image {
  flex: 1;
}

.info-text {
  flex: 1;
  background-color: #fff099;
  padding: 2rem 3rem;
  border-radius: 10px;
}

.info-text2 {
  flex: 1;

  padding: 2rem 3rem;
  border: #37489e 5px solid;
}
.info-text2 h3 {
  font-family: "Freckle Face", system-ui;
  font-size: 3rem;
  color: #37489e;
  margin: 0 0 1rem 0;
}

.info-text2 p {
  font-family: "Delius", cursive;
  font-size: 1.4rem;
  color: #37489e;
  line-height: 1.8;
  text-align: justify;
  margin: 0;
}

.info-text h3 {
  font-family: "Freckle Face", system-ui;
  font-size: 3rem;
  color: #37489e;
  margin: 0 0 1rem 0;
}

.info-text p {
  font-family: "Delius", cursive;
  font-size: 1.4rem;
  color: #000000;
  line-height: 1.8;
  text-align: justify;
  margin: 0;
}

.instruction1-grid {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 3rem;
  margin: 5rem auto;
  align-items: start;
  max-width: 90%;
}

.instruction1 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.instruction1 img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.instruction1 p {
  font-family: "Delius", cursive;
  font-size: 1.4rem;
  color: #000000;
  line-height: 1.8;
  text-align: justify;
  margin: 0;
}

.instruction2 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.instruction2 img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.play-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem 0;
}

.play-button button {
  font-family: "Freckle Face", system-ui;
  font-size: 4rem;
  color: #fff099;
  background-color: #4854ab;
  padding: 2rem 5rem;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.play-button button:hover {
  background-color: #3a4488;
  transform: scale(1.05);
}

.play-button2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem 0;
}

.play-button2 button {
  font-family: "Freckle Face", system-ui;
  font-size: 4rem;
  color: #ffffff;
  background-color: #4854ab;
  padding: 2rem 5rem;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.play-button2 button:hover {
  background-color: #3a4488;
  transform: scale(1.05);
}
.storyline {
  font-family: "Freckle Face", system-ui;
  font-size: 6rem;
  color: #3a4488;
  text-align: center;
  margin-bottom: -5vh;
  text-transform: capitalize;
}

.video01 {
  width: 100%;
  height: 500px;
  border-radius: 15px;
}

.interaction-animation {
  overflow: hidden;
  width: 100%;
}

.pages-wrapper {
  display: flex;
  width: 200%;
  transition: transform 0.6s ease-in-out;
}

.project1,
.project2 {
  min-width: 50%;
  width: 50%;
  flex-shrink: 0;
}
.projects-container {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.project-wrapper {
  display: flex;
  transition: transform 0.5s ease;
  width: 200%;
}

.project-content {
  min-width: 100%;
  width: 100%;
}

.project-title2 {
  background-color: #4854ab;
  padding: 2rem 4rem;
  margin: 3rem 0;
  max-width: 90%;
  display: flex;
  width: 70vw;
  justify-content: flex-start;
}

.project-title2 h2 {
  font-family: "Freckle Face", system-ui;
  font-size: 5rem;
  color: #fff099;
  text-align: left;
  margin: 0;
}

.interaction-work header {
  background-color: transparent;
}

@media screen and (max-width: 1024px) {
  .interaction-header h1 {
    font-size: 8rem;
    padding: 0;
  }

  .interaction-header {
    min-height: 25vh;
    border-bottom-width: 10px;
    margin-top: 8vh;
  }

  .course-info {
    flex-direction: row;
    gap: 1.5rem;
    padding: 1rem 0;
  }
  .project-title1,
  .project-title2 {
    font-size: 2.5rem;
    padding: 1rem 2rem;
    width: 90vw;
  }
  .project-title1 h2,
  .project-title2 h2,
  #welcome {
    font-size: 3rem;
  }
  .info-layout {
    gap: 1.5rem;
    flex-direction: column;
  }
  .info-text,
  .info-text2 {
    padding: 2rem 3rem;
  }
  .instruction1-grid {
    gap: 1.5rem;
    margin: 2rem auto;
  }
  .play-button button,
  .play-button2 button {
    font-size: 5rem;
    padding: 2rem 5rem;
  }
  .storyline {
    font-size: 6rem;
    margin-bottom: 3vh;
  }
  .video01 {
    height: 517.5px;
    width: 920px;
  }
}

@media screen and (max-width: 768px) {
  .interaction-work {
    margin-left: 5vw;
    margin-right: 5vw;
  }

  .interaction-header {
    min-height: 20vh;
    border-bottom-width: 10px;
    margin-top: 3vh;
  }
  .interaction-header h1 {
    font-size: 6rem;
    padding: 0;
  }
  .course-info {
    flex-direction: row;
    gap: 2rem;
    padding: 0.5rem 0;
    margin-right: 0;
    margin-top: 2vh;
  }
  .course1,
  .course2 {
    font-size: 2rem;
    padding: 0 0 0;
  }
  .project-title1,
  .project-title2 {
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    width: 100vw;
    max-width: 100%;
    margin-top: 7vh;
  }
  .project-title1 h2,
  .project-title2 h2,
  #welcome {
    font-size: 2.5rem;
  }
  .project-info {
    margin: 1rem 0;
  }
  .info-layout {
    flex-direction: column;
    gap: 1rem;
  }
  .info-text,
  .info-text2 {
    padding: 2rem 3rem;
    font-size: 1rem;
  }

  .instruction1-grid {
    grid-template-columns: 1fr;
    gap: 1rem;
    margin: 1.5rem auto;
  }
  .instruction1,
  .instruction2 {
    gap: 3rem;
  }
  .play-button,
  .play-button2 {
    margin: 2rem 0;
  }
  .play-button button,
  .play-button2 button {
    font-size: 4rem;
    padding: 2rem 5rem;
    border-radius: 100px;
  }
  .play-button2 button {
    font-size: 4rem;
    padding: 2rem 3rem;
    border-radius: 100px;
    margin-top: 12vh;
  }
  .storyline {
    font-size: 5rem;
    margin-bottom: -2vh;
    margin-top: 5vh;
  }
  .video01 {
    height: 490px;
    width: 690px;
  }
}

@media screen and (max-width: 480px) {
  .interaction-work {
    margin-left: 8vw;
    margin-right: 8vw;
  }

  .interaction-header {
    min-height: 10vh;
    border-bottom-width: 10px;
    margin-top: 5vh;
  }

  .course-info {
    flex-direction: row;
    gap: 2rem;
    padding: 0 0;
    margin-right: 0;
    margin-top: 1vh;
    margin-bottom: 3vh;
  }

  .interaction-header h1 {
    font-size: 3.5rem;
  }
  .course1,
  .course2 {
    font-size: 1.2rem;
    margin-top: 1vh;
  }
  .project-title1,
  .project-title2 {
    padding: 0.3rem 0.5rem;
    margin: 0.5rem 0;
  }
  .project-title1 h2,
  .project-title2 h2,
  #welcome {
    font-size: 2rem;
    padding: 0.5rem;
  }
  .info-text,
  .info-text2 {
    padding: 2rem 2rem;
    font-size: 0.1rem;
  }

  .info-text p,
  .info-text2 p {
    font-size: 1rem;
  }

  .instruction1-grid {
    margin: 0.5rem auto;
  }
  .play-button button,
  .play-button2 button {
    font-size: 2.5rem;
    padding: 1rem 2rem;
    border-radius: 80px;
  }

  .play-button2 button {
    margin-top: 7vh;
    font-size: 2.5rem;
    padding: 1.5rem 2rem;
    border-radius: 80px;
    margin-bottom: -10vh;
  }

  .instruction1 p,
  .instruction2 p {
    font-size: 1rem;
  }
  .storyline {
    font-size: 3.5rem;
    margin-bottom: 2vh;
  }

  .video01 {
    height: 250px;
    width: 350px;
  }
}
